In [9]:
print("Twinkle, twinkle, little star, \n\t How i wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \nTwinkle, twinkle, little star, \n\t How i wonder what you are")

Twinkle, twinkle, little star,
	 How i wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
Twinkle, twinkle, little star,
	 How i wonder what you are

In [10]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [11]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-24 17:37:53

In [12]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 4
The area of the circle with radius 4.0 is: 50.26548245743669

In [15]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : saad
Input your Last Name : malik
Hello  malik saad

In [16]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
 
sum = a + b
 
print("sum:", sum)

enter first number: 5
enter second number: 9
sum: 14

In [20]:
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
if(avg>=90):
    print("Grade: A")
elif(avg>=80 and avg<90):
    print("Grade: B")
elif(avg>=70 and avg<80):
    print("Grade: C")
elif(avg>=60 and avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject: 80
Enter marks of the second subject: 75
Enter marks of the third subject: 90
Enter marks of the fourth subject: 65
Enter marks of the fifth subject: 48
Grade: C

In [21]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 88
This is an even number.

In [22]:
test_list = [ 1, 4, 5, 7, 8 ]
  

print ("The list is : " + str(test_list))
  

counter = 0
for i in test_list:
      
    # incrementing counter
    counter = counter + 1

print ("Length of list using naive method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

In [23]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([9,5,20]))

34

In [24]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1, 2, 35, 0]))

35

In [25]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3